@model IEnumerable<WorkingWithVisualStudio.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/bundle.min.css" />
    <script src="~/js/bundle.min.js"></script>*@
    <title>Praca z VS</title>
</head>
<body class="p-1">
    <h3 class="text-center">Produkty</h3>
    @*<p>Godzina wykonania żądania: @DateTime.Now.ToString("HH:mm:ss")</p>*@
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Produkt</td>
                <td>Cena</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@($"{p.Price:C2}")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddProduct">Dodaj produkt</a>
    </div>
</body>
</html>